.overall{
    height: 100%;
    display: flex;
    color: var(--purple-main);
    font-size: 8rem;
    font-family: Aldo;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.overall span{
    display: block;
    font-size: 1.8rem;
    color: white;
}

.overall tspan{
    font-size: 1rem;
}

.center-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}