:root{
  --purple-main: #593ef0;
  --black-main: #000;
  --gray-main: #0f1519;
  --second-gray: #3f3f3f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Aldo;
  src: url('./assets/fonts/aldo_the_apache/AldotheApache.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat/Montserrat.ttf');
}

.App {
  text-align: center;
}

body{
  overflow-x: hidden;
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--black-main), #37269a);
  color: white;
}

.container{
  padding: max(20px, 5%) max(20px, 5%);
}

h1{
  position: relative;
  width: fit-content;
  padding: 8px 8px;
  margin: 16px 0px;
  border-radius: 8px;
  text-align: left;
  color: white;
  font-family: Aldo;
  font-weight: 200;
  font-size: 2rem;
  background: linear-gradient(0deg, var(--black-main), #272727);
}

.rainbow:before, .rainbow:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
  border-radius: 8px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
  #0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 40s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.rainbow:after {
	filter: blur(50px);
}

section{
  padding: 20px 0px;
}

.footer{
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--black-main);
  color: white;
}

.footer div{
  width: 100%;
}

.footer div a{
  text-decoration: none;
  font-family: Aldo;
  padding: 8px 16px;
  color: #fff;
}

.footer div a{
  width: fit-content;
  margin: 0px 16px;
  padding: 0px 4px;
  overflow-x: hidden;
  overflow-y: clip;
  position: relative;
  font-size: 1.5rem;
  font-family: Aldo, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.footer div a::after, .footer div a::before{
  content: '';
  width: calc(100% + 4px);
  height: 4px;
  background: var(--purple-main) no-repeat;
  position: absolute;
  bottom: -1px;
  left: calc(-100% - 4px);
  transition: all 0.2s ease;
}

.footer div a:hover::after, .footer div a:hover::before{
  left: 0px;
}

.footer svg{
  color: var(--purple-main);
  margin-right: 0.5rem;
}

.title-display{
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title-name{
  margin-left: 20px;
  font-size: 3.5rem;
  font-family: Aldo;
}

.title-shortName{
  color: rgb(93, 92, 92);
}

h4{
  font-family: Aldo;
  font-size: 2.8rem;
}

.card-player{
  display: flex;
  justify-content: center;
}

.card-player img{
  z-index: 2;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 0px 40px var(--purple-main);
}

.card-details{
  display: flex;
  height: 100%;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  font-family: Aldo;
  font-size: 2rem;
  color: var(--purple-main);
}

.card-details div{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-details div div:first-child{
  padding: 0px 8px;
  justify-content: end;
}
.card-details div div:last-child{
  padding: 0px 8px;
  justify-content: start;
}

.panel{
  padding: 8px 0px;
  background-color: var(--gray-main);
  border-top: 5px solid var(--purple-main);
  border-radius: 8px;
}

.sub-panel{
  position: relative;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-display-header{
  box-shadow: 0px -1px 8px var(--purple-main);
  border-radius: 8px 8px 0px 0px;
}

.card-display-header, .card-display-footer{
  padding: 8px;
  font-family: Aldo;
  font-size: 1.5rem;
  background-color: #000;
}

.card-display-body{
  background-color: #3027676c;
}

.card-display-body{
  padding: 8px;
}

.card-display-body img{
  border-radius: 16px;
  box-shadow: 0px 0px 60px var(--purple-main);
}

.card-display-footer{
  box-shadow: 0px 1px 8px var(--purple-main);
  border-radius: 0px 0px 8px 8px;
}

.card-display-footer a{
  width: auto;
  margin: 0px 16px;
  padding: 0px 4px;
  overflow-x: hidden;
  overflow-y: clip;
  position: relative;
  font-size: 1.5rem;
  font-family: Aldo, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--second-gray);
  transition: all 0.3s;
}

.card-display-footer a:hover{
  color: #fff;
}

.img-team img{
  height: 100px;
}

@media screen and (max-width: 500px) {
  .container{
    padding: max(20px, 5%) 2px;
  }
}